
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"  crossorigin="anonymous"></script>
        
  </head>
  <body>
     
 <div class="container"  id="IdCreateaUser">
    <nav class="navbar navbar-expand-sm justify-content-center" style="background-color:#ff6900;color: white; ">
     
      <span class="navbar-brand">Create a Kano username</span>
     </nav>
     <br><br>
  <div class="row">
<div class="col-12 text-center">
   <span>Pick a username from the list of generated names,<br>or create your own.   Don't use your real name or a <br> name you used on other website</span>
   <br>
<span>abhishek.shar@hcl.com</span>
<br><br>
<button type="button" class="btn btn-info" style="color:white ;background-color: #ff6900;" id="btnNext" >Next</button>

</div>
</div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
    <script type="text/javascript">

$(document).ready(function(){
        
        $('#btnNext').on('click', function () {
           window.open("/tab/KanoUseraccount","_self");
      });
    
    });    
        </script>
  </body>
</html>






